/*+++++++++++++++++++++++++++++++++++++++++++++++++
Default	 Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/

.bttn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color: #006def;
	border-radius: 5px;
	cursor: #fff;
	font-size: 1em;
	color: white;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	text-transform: bold;


}

.bttn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed');
	background-color: #dfdfdf;
}

.bttn-large:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed');
	background-color: #dfdfdf;
}

.bttn-small:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4EE2EC), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed');
	background-color: #dfdfdf;
}

.bttn-good {
	background-color: green;
} 

.bttn-warning {
	background-color: red;
}

.bttn-happy {
	background-color: yellow;
	color: black;
}

.bttn-sleepy {
	background-color: orange;
}

.bttn-vanilla {
	background-color: gray;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Large Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/

.bttn-large {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color: #006def;
	border-radius: 5px;
	cursor: #fff;
	font-size: 2.5em;
	color: white;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	text-transform: bold;

}

.bttn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.bttn-good-large {
	background-color: green;
} 

.bttn-warning-large {
	background-color: red;
}

.bttn-happy-large {
	background-color: yellow;
	color: black;
}

.bttn-sleepy-large {
	background-color: orange;
}

.bttn-vanilla-large {
	background-color: gray;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Small Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/


.bttn-small {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color: #006def;
	border-radius: 5px;
	cursor: #fff;
	font-size: 0.5em;
	color: white;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	text-transform: bold;
	margin-bottom: 20px;

}

.bttn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.bttn-good-small {
	background-color: green;
} 

.bttn-warning-small {
	background-color: red;
}

.bttn-happy-small {
	background-color: yellow;
	color: black;
}

.bttn-sleepy-small {
	background-color: orange;
}

.bttn-vanilla-small {
	background-color: gray;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++
Alerts
+++++++++++++++++++++++++++++++++++++++++++++++++*/

.alerts {
	background: #fff;
	margin-bottom: 40px;
	padding: 15px;
	text-align: center;
	height: 15%;
	width: 80%;
}

.alerts h3 {
	font-size: 4em;
}

.alerts p {
	font-size: 2.5em;
}

.alerts h3:hover {
	color: #FFA500;
}

.alerts-success {
	border: solid 15px #87F717;
}


.alerts-warning {
	border: solid 15px #800517;
}

.alerts-failed {
	border: solid 15px red;
}

.alerts-tip {
	border: solid 15px #4EE2EC;
}









