/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Nav
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav {
	position: relative;
	font-size: 2.5em;
	font-weight: bold;
  text-align: right;
}

nav ul {
	margin: 10px 0;
	padding: 20px 20px;
}
nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: block;
	display: inline-block;
}
nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
	text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
nav a:hover {
	color: #f7941d;
}

.current {
  border-radius: 5px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body {
  background: #eee;
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 62.5%;
  line-height: 1.2;
}

h1 {
  font-weight: bold;
  font-size: 4.3em;
  color: #f7941d;

}

h2 {
  font-weight: bold;
  font-size: 3.5em;
  color: black;

}

h3 {
  font-weight: bold;
  font-size: 2.5em;
  color: black;

}


h4 {
  font-weight: bold;
  font-size: 2.1em;
  color: black;

}

p {
  font-size: 1.7em;
  line-height: 1.5;
}

a {
  font-size: 1.5em;
}

figure {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero {
  position: relative;
  border-radius: 5px;
  padding: 0.4em 0.2em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.titles {
  text-align: center;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerimage {
  padding: 0.5em 0.3em;
  float: right;
}

.border {
  background: #ccc; 
  border: 0.2em solid #f0f0f0;
  color: #333;
}

aside {
  background-color: #D0C6B1;
  color: black;
  position: relative;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #D0C6B1))
}

.end-spacing {
  padding: 7em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Blog Specific
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.blog-anchors {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.blog-anchors:hover {
  color: #f7941d;
}

.recent-art {
  line-height: 0.5;
}

.recent-anchors {
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  color: blue;
}

.recent-anchors:hover {
  color: #f7941d;
}

.recent-articles-header {
  font-size: 3em;
}

.blog-recent {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em 0.2em 0.2em 0.2em;
  display: inline-block;
}

.complex-selectors p ~ p {
  text-indent: 30px;
  }

a[href^="https"]:after {
  content: url('http://p.yusukekamiyamane.com/icons/search/fugue/icons/lock.png');
}

a[href$=".pdf"]:after {
  content: url('http://www.environmentalstewardship.org/CMImages/ESAP/adobe_pdf_icon.gif');
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Arrows and Buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.arrow {
  background: #8ec63f;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
}

.arrow:before,
.arrow:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.arrow:before {
  border-bottom: 15px solid #8ec63f;
  border-left: 15px solid transparent;
  border-top: 15px solid #8ec63f;
  left: -15px;
}

.arrow:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #8ec63f;
  border-top: 15px solid transparent;
  right: -15px;
}

.arrow:hover {
  background: #f7941d;
  color: #fff;
}

.arrow:hover:before {
  border-bottom: 15px solid #f7941d;
  border-top: 15px solid #f7941d;
}

.arrow:hover:after {
  border-left: 15px solid #f7941d;
}

/*.btn {
    background-color: #218559;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #218559) );

}

.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33CCFF), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CCFF', endColorstr='#ededed');
    background-color:#CCFF33;
}*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.copyright {
  font-size: 1.5em;
  text-align: left;
}

.links-credit {
	position: relative;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
}

.links-credit li {
	margin: 0 0.05em 0.1em 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.links-credit a:hover {
	color: #f7941d;
}

footer {
  bottom: 0;
  left: 0;
  position: inherit;
  right: 0;
  background: white;

}

footer a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Helper classes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Media Queries
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  .grid-1000 {
    max-width: 1000px;
  }

  .grid-1000 .onerow {
    padding: 0;
  }

}



/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 960px) {

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
    width: 99%;
  }

  nav {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  footer ul {
    text-align: center;
    padding-left: 0;
  }


}

@media all and (max-width: 550px) {

  .logo {
    width: 100%;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  .recent {
    display: none;
  }
}



