/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Nav
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav {
	position: relative;
	font-size: 2em;
	font-weight: bold;
    text-align: right;
}

nav ul {
	margin: 10px 0;
	padding: 20px 20px;
}
nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: block;
	display: inline-block;
}
nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
	text-align: center;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
	color: #FF3366;   /*why isnt this working?*/
}

nav .current a {
	color: #06A2CB;
	border-radius: 5px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html, body, nav {
    font-family: 'Poiret One', cursive;
}

h1 {
    font-weight: bold;
    text-decoration: underline;

}

.hero {
    color: black;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 20px;
    margin: 0px;
    padding: 4px 2px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #D0C6B1))

}

.centerimage {
    padding: 3px 3px;
    float: right;
}

.border {
    background:#ccc; 
    border:4px solid #f0f0f0;
    color: #333;
}

.btn {
    background-color: #218559;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #218559) );

}

.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33CCFF), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #160000 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CCFF', endColorstr='#ededed');
    background-color:#CCFF33;
}

.blog-head {
    font-size: 5em;
    text-align: center;
}

.design-title {
    text-align: center;
}

aside {
    background-color: #D0C6B1;
    color: black;
    position: relative;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #D0C6B1))
}

.about-me {
	font-weight: bold;
}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.copyright {
    font-size: 0.70em;
}

.links-credit {
	position: relative;
    font-weight: bold;
    font-size: 1.25em;
    text-align: right;
}

.links-credit ul {
	margin: 0;
	padding: 0;
}

.links-credit li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.links-credit a:hover{
	color: #0D56A6;
}


footer a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Helper classes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
