@charset "UTF-8";
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Import
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined in IE 8/9. */
/* line 23, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** Correct `inline-block` display not defined in IE 8/9. */
/* line 33, ../sass/_normalize.scss */
audio, canvas, video { display: inline-block; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/** Address styling not present in IE 8/9. */
/* line 51, ../sass/_normalize.scss */
[hidden] { display: none; }

/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
/* line 65, ../sass/_normalize.scss */
html { font-family: sans-serif; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
/* line 75, ../sass/_normalize.scss */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Address `outline` inconsistency between Chrome and other browsers. */
/* line 87, ../sass/_normalize.scss */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
/* line 96, ../sass/_normalize.scss */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
/* line 109, ../sass/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 118, ../sass/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 127, ../sass/_normalize.scss */
b, strong { font-weight: bold; }

/** Address styling not present in Safari 5 and Chrome. */
/* line 135, ../sass/_normalize.scss */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. */
/* line 143, ../sass/_normalize.scss */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 8/9. */
/* line 153, ../sass/_normalize.scss */
mark { background: #ff0; color: #000; }

/** Correct font family set oddly in Safari 5 and Chrome. */
/* line 165, ../sass/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
/* line 174, ../sass/_normalize.scss */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
/* line 182, ../sass/_normalize.scss */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
/* line 190, ../sass/_normalize.scss */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 199, ../sass/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 206, ../sass/_normalize.scss */
sup { top: -0.5em; }

/* line 210, ../sass/_normalize.scss */
sub { bottom: -0.25em; }

/* ========================================================================== Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9. */
/* line 222, ../sass/_normalize.scss */
img { border: 0; }

/** Correct overflow displayed oddly in IE 9. */
/* line 230, ../sass/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 8/9 and Safari 5. */
/* line 242, ../sass/_normalize.scss */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/** Define consistent border, margin, and padding. */
/* line 254, ../sass/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 265, ../sass/_normalize.scss */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
/* line 279, ../sass/_normalize.scss */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
/* line 291, ../sass/_normalize.scss */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
/* line 303, ../sass/_normalize.scss */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
/* line 318, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
/* line 328, ../sass/_normalize.scss */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Address box sizing set to `content-box` in IE 8/9. 2. Remove excess padding in IE 8/9. */
/* line 338, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
/* line 349, ../sass/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
/* line 362, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 4+. */
/* line 371, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */
/* line 381, ../sass/_normalize.scss */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
/* line 394, ../sass/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* *********************************************************************************************************************
	One% CSS Grid - 12 Columns Fluid CSS Grid System

	Why One% ? Let’s count ...
		we have 12 columns (magic number divided by 2, 3, 4, 6)

		for 12 columns we need 11 margins

		so if we count margin 3%, then 3% * 11 margins = 33%

		and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

		in the end we have 33% + 66% = 99% aaand ???

		1% is still here so that's the name - One%

	2 starting options ? Let’s count a bit more ...
		1200px - perfectly fits 1280 screens
			12 columns
			margin 3% / 36px (full-width)
			col1 5.5% / 66px (full-width)

		1000px - perfectly fits 1024 screens
			12 columns
			margin 3% / 30px (full-width)
			col1 5.5% / 55px (full-width)
*/
/* ********************************************************************************************************************* Main container for all */
/* line 36, ../sass/_grid.scss */
.grid-1000, .grid-1200 { margin: 0 auto; padding: 0 0 0 0; /* THAT'S THE NAME ;) */ }

/* line 41, ../sass/_grid.scss */
.grid-1200 { max-width: 1220px; }

/* line 45, ../sass/_grid.scss */
.grid-1000 { max-width: 1020px; background: #fff; }

/* line 50, ../sass/_grid.scss */
.onerow { clear: both; }

/* ********************************************************************************************************************* Common columns definitions */
/* line 61, ../sass/_grid.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; margin: 0 3% 0 0; }

/* line 66, ../sass/_grid.scss */
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 { margin: 0; }

/* line 70, ../sass/_grid.scss */
.col1 { width: 5.5%; }

/* line 71, ../sass/_grid.scss */
.col2 { width: 14%; }

/* line 72, ../sass/_grid.scss */
.col3 { width: 22.5%; }

/* line 73, ../sass/_grid.scss */
.col4 { width: 31%; }

/* line 74, ../sass/_grid.scss */
.col5 { width: 39.5%; }

/* line 75, ../sass/_grid.scss */
.col6 { width: 48%; }

/* line 76, ../sass/_grid.scss */
.col7 { width: 56.5%; }

/* line 77, ../sass/_grid.scss */
.col8 { width: 65%; }

/* line 78, ../sass/_grid.scss */
.col9 { width: 73.5%; }

/* line 79, ../sass/_grid.scss */
.col10 { width: 82%; }

/* line 80, ../sass/_grid.scss */
.col11 { width: 90.5%; }

/* line 81, ../sass/_grid.scss */
.col12 { width: 100%; margin: 0; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Default	 Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 5, ../sass/_button.scss */
.bttn { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background-color: #006def; border-radius: 5px; cursor: #fff; font-size: 1em; color: white; border-radius: 5px; display: inline-block; padding: 4px 12px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align: middle; text-transform: bold; }

/* line 25, ../sass/_button.scss */
.bttn:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed'); background-color: #dfdfdf; }

/* line 32, ../sass/_button.scss */
.bttn-large:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed'); background-color: #dfdfdf; }

/* line 39, ../sass/_button.scss */
.bttn-small:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4ee2ec), color-stop(1, #ededed)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed'); background-color: #dfdfdf; }

/* line 46, ../sass/_button.scss */
.bttn-good { background-color: green; }

/* line 50, ../sass/_button.scss */
.bttn-warning { background-color: red; }

/* line 54, ../sass/_button.scss */
.bttn-happy { background-color: yellow; color: black; }

/* line 59, ../sass/_button.scss */
.bttn-sleepy { background-color: orange; }

/* line 63, ../sass/_button.scss */
.bttn-vanilla { background-color: gray; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Large Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 71, ../sass/_button.scss */
.bttn-large { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background-color: #006def; border-radius: 5px; cursor: #fff; font-size: 2.5em; color: white; border-radius: 5px; display: inline-block; padding: 4px 12px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align: middle; text-transform: bold; }

/* line 90, ../sass/_button.scss */
.bttn:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed'); background-color: #dfdfdf; }

/* line 97, ../sass/_button.scss */
.bttn-good-large { background-color: green; }

/* line 101, ../sass/_button.scss */
.bttn-warning-large { background-color: red; }

/* line 105, ../sass/_button.scss */
.bttn-happy-large { background-color: yellow; color: black; }

/* line 110, ../sass/_button.scss */
.bttn-sleepy-large { background-color: orange; }

/* line 114, ../sass/_button.scss */
.bttn-vanilla-large { background-color: gray; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Small Button
+++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 123, ../sass/_button.scss */
.bttn-small { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background-color: #006def; border-radius: 5px; cursor: #fff; font-size: 0.5em; color: white; border-radius: 5px; display: inline-block; padding: 4px 12px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align: middle; text-transform: bold; margin-bottom: 20px; }

/* line 143, ../sass/_button.scss */
.bttn:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #120000), color-stop(1, #ededed)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#120000', endColorstr='#ededed'); background-color: #dfdfdf; }

/* line 150, ../sass/_button.scss */
.bttn-good-small { background-color: green; }

/* line 154, ../sass/_button.scss */
.bttn-warning-small { background-color: red; }

/* line 158, ../sass/_button.scss */
.bttn-happy-small { background-color: yellow; color: black; }

/* line 163, ../sass/_button.scss */
.bttn-sleepy-small { background-color: orange; }

/* line 167, ../sass/_button.scss */
.bttn-vanilla-small { background-color: gray; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++
Alerts
+++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 176, ../sass/_button.scss */
.alerts { background: #fff; margin-bottom: 40px; padding: 15px; text-align: center; height: 15%; width: 80%; }

/* line 185, ../sass/_button.scss */
.alerts h3 { font-size: 4em; }

/* line 189, ../sass/_button.scss */
.alerts p { font-size: 2.5em; }

/* line 193, ../sass/_button.scss */
.alerts h3:hover { color: #FFA500; }

/* line 197, ../sass/_button.scss */
.alerts-success { border: solid 15px #87F717; }

/* line 202, ../sass/_button.scss */
.alerts-warning { border: solid 15px #800517; }

/* line 206, ../sass/_button.scss */
.alerts-failed { border: solid 15px red; }

/* line 210, ../sass/_button.scss */
.alerts-tip { border: solid 15px #4EE2EC; }

/* line 1, ../sass/_positions.scss */
.box { border-radius: 15px; position: absolute; background: #8ec63f; height: 5em; width: 5em; line-height: 2.5em; font-size: 1.5em; color: white; text-align: center; border: 3px solid #f7941d; }

/* line 14, ../sass/_positions.scss */
.box:hover { background-color: #ffa500; }

/* line 18, ../sass/_positions.scss */
.box-set { background: #e8eae9; position: relative; }

/* line 23, ../sass/_positions.scss */
.box-1 { top: -3em; left: 2em; }

/* line 28, ../sass/_positions.scss */
.box-2 { top: 10em; right: 65em; z-index: 2; }

/* line 34, ../sass/_positions.scss */
.box-3 { top: 9em; bottom: 2em; right: 2em; }

/* line 40, ../sass/_positions.scss */
.box-4 { top: 15em; right: 12em; z-index: 3; }

/* line 46, ../sass/_positions.scss */
.box-5 { top: 20em; right: 12em; }

/* line 51, ../sass/_positions.scss */
.box-6 { top: 20em; left: 2em; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
tabs
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 5, ../sass/_tabs.scss */
.tabs { font-size: 2em; margin: 10px 20px; padding: 10px; }

/* line 11, ../sass/_tabs.scss */
.tabs:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0099cc), color-stop(1, #adadad)); background: -moz-linear-gradient(center top, #160000 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#707070'); background-color: #dfdfdf; }

/* line 18, ../sass/_tabs.scss */
.tabs-stacked { border-top: thick double #ff0000; border-bottom: thick double #ff0000; }

/* line 23, ../sass/_tabs.scss */
.home { background-color: black; color: white; }

/* line 28, ../sass/_tabs.scss */
.tabs-home { border-top: 2px solid #ddd; border-left: 2px solid #ddd; border-right: 2px solid #ddd; }

/* line 34, ../sass/_tabs.scss */
.tabs-standard { color: #66FF33; }

/* line 38, ../sass/_tabs.scss */
.tabs-group { border: 2px solid #ddd; border-radius: 5px; margin-bottom: -10px; float: none; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
pills
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 50, ../sass/_tabs.scss */
.pills { font-size: 2em; margin: 10px 20px; border-radius: 10px; padding: 5px 12px; }

/* line 57, ../sass/_tabs.scss */
.pills-standard { color: #66FF33; }

/* line 61, ../sass/_tabs.scss */
.pills-group { display: table; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Variables & General Mixins
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Nav
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 33, ../sass/main.scss */
nav { text-shadow: 1px 2px 2px gray; position: relative; font-size: 2.5em; font-weight: bold; text-align: right; line-height: 100px; }
/* line 40, ../sass/main.scss */
nav ul { margin: 10px 0; padding: 70px 40px 0px 20px; }
/* line 43, ../sass/main.scss */
nav ul li { margin: 0px 5px 10px 0px; padding: 0px; list-style: block; display: inline-block; }
/* line 48, ../sass/main.scss */
nav ul li a { padding: 0px 12px; text-decoration: none; color: #999; line-height: 100%; font-weight: bold; color: white; }
/* line 57, ../sass/main.scss */
nav ul li a:hover { color: #f7941d; border-bottom: 5px solid #fff; }

/* line 66, ../sass/main.scss */
.current, nav ul li a, .hero, .blog-recent { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

/* line 70, ../sass/main.scss */
.header { background: #33CCFF; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 78, ../sass/main.scss */
body { line-height: 1.5em; padding-left: 5px; padding-right: 5px; background: #eee; font-family: 'Roboto Condensed', sans-serif; font-size: 62.5%; }

/* line 87, ../sass/main.scss */
h1 { line-height: 1.5em; font-weight: bold; font-size: 4.3em; color: #f7941d; }

/* line 94, ../sass/main.scss */
h2 { line-height: 1.5em; font-weight: bold; font-size: 3.5em; color: black; }

/* line 101, ../sass/main.scss */
h3 { line-height: 1.5em; font-size: 2.5em; }

/* line 107, ../sass/main.scss */
h4 { line-height: 1.5em; font-size: 2.0em; }

/* line 112, ../sass/main.scss */
p { line-height: 1.5em; font-size: 1.6em; margin-bottom: 1em; }

/* line 118, ../sass/main.scss */
a { font-size: 1.3em; }

/* line 122, ../sass/main.scss */
figure { position: relative; padding-bottom: 56.25%; /* 16/9 ratio */ padding-top: 30px; /* IE6 workaround*/ height: 0px; overflow: hidden; }

/* line 130, ../sass/main.scss */
iframe { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

/* line 138, ../sass/main.scss */
.hero { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); position: relative; padding: 0.4em 0.2em; text-decoration: none; vertical-align: middle; }

/* line 153, ../sass/main.scss */
.logo, img.faces-pol { margin-left: auto; margin-right: auto; display: inline-block; }

/* line 158, ../sass/main.scss */
.centerimage { padding: 0.5em 0.3em; float: right; }

/* line 163, ../sass/main.scss */
.border { background: #ccc; border: 0.2em solid #f0f0f0; color: #333; }

/* line 169, ../sass/main.scss */
aside { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0; background-color: #D0C6B1; color: black; position: relative; font-weight: bold; text-decoration: none; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #d0c6b1)); }

/* line 181, ../sass/main.scss */
.end-spacing { padding: 10em; position: relative; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Index (Home Page)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 190, ../sass/main.scss */
.hi { font-size: 5em; width: 300px; height: 300px; color: #fff; margin-bottom: 20px; line-height: 300px; background-color: #f7941d; -webkit-border-radius: 200px; -moz-border-radius: 200px; -ms-border-radius: 200px; -o-border-radius: 200px; border-radius: 200px; margin-left: auto; margin-right: auto; text-shadow: 1px 1px 1px gray; }
/* line 201, ../sass/main.scss */
.hi:hover { color: #8ec63f; -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -o-transform: translateY(-20px); transform: translateY(-20px); }

/* line 207, ../sass/main.scss */
.index-message { font-size: 4em; color: black; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Portoflio Specific 2D and 3D
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 220, ../sass/main.scss */
.faces-pol-title, nav ul li a, .hero, .contact-paragraph, .titles, .center, aside, .faces-pol-text, .faces-pol-center, .inkprinted-text, .experimental-2d, .inkprinted, .eleganster, .threeD-cube, .advertisements, .alert, .copyright, .links-credit, .footer a, .footer-statement, .footer-twitter { text-align: center; }

/* line 228, ../sass/main.scss */
.eleganster { border-right: 2px solid #E6E8FA; padding: 10px 15px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Processing Related 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 242, ../sass/main.scss */
.processing-div { height: 400px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Transformations
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 258, ../sass/main.scss */
.simple-cube { margin-left: auto; margin-right: auto; height: 230px; position: relative; width: 400px; }

/* line 265, ../sass/main.scss */
.twoD-box { -webkit-perspective: 10px; -moz-perspective: 10px; -ms-perspective: 10px; -o-perspective: 10px; perspective: 10px; background-color: red; display: inline-block; height: 100px; width: 100px; margin-top: 50px; margin-bottom: 50px; margin-left: 150px; position: absolute; }
/* line 272, ../sass/main.scss */
.twoD-box.simple-transformations-1 { background-color: blue; -webkit-transform: rotate(-45deg) skew(15deg, 15deg); -moz-transform: rotate(-45deg) skew(15deg, 15deg); -ms-transform: rotate(-45deg) skew(15deg, 15deg); -o-transform: rotate(-45deg) skew(15deg, 15deg); transform: rotate(-45deg) skew(15deg, 15deg); }
/* line 277, ../sass/main.scss */
.twoD-box.simple-transformations-2 { background-color: green; -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -moz-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -ms-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -o-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); }
/* line 281, ../sass/main.scss */
.twoD-box.simple-transformations-3 { background-color: orange; -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -moz-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -ms-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -o-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); }

/* line 287, ../sass/main.scss */
.crazy-twoD { margin-left: auto; margin-right: auto; height: 500px; position: relative; width: 400px; }

/* line 294, ../sass/main.scss */
.twoD-crazy { background-color: red; display: inline-block; height: 100px; width: 100px; margin-top: 250px; margin-left: 150px; position: absolute; }
/* line 299, ../sass/main.scss */
.twoD-crazy.simple-transformations-4 { background-color: teal; -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -moz-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -ms-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); -o-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%); z-index: 5; }
/* line 305, ../sass/main.scss */
.twoD-crazy.simple-transformations-5 { -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -moz-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -ms-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); -o-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%); z-index: 3; }
/* line 310, ../sass/main.scss */
.twoD-crazy.simple-transformations-6 { -webkit-transform: rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%); -moz-transform: rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%); -ms-transform: rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%); -o-transform: rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%); transform: rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%); background-color: purple; height: 50px; z-index: 4; }
/* line 317, ../sass/main.scss */
.twoD-crazy.simple-transformations-7 { -webkit-transform: rotate(345deg) skew(-15deg, -15deg) translateX(-50px); -moz-transform: rotate(345deg) skew(-15deg, -15deg) translateX(-50px); -ms-transform: rotate(345deg) skew(-15deg, -15deg) translateX(-50px); -o-transform: rotate(345deg) skew(-15deg, -15deg) translateX(-50px); transform: rotate(345deg) skew(-15deg, -15deg) translateX(-50px); background-color: black; z-index: 1; }

/* line 325, ../sass/main.scss */
.simple-twoD { margin-left: auto; margin-right: auto; width: 500px; height: 800px; position: relative; }

/* line 332, ../sass/main.scss */
.twoD-simple { background-color: red; display: inline-block; height: 100px; width: 100px; -webkit-perspective: 100px; -moz-perspective: 100px; -ms-perspective: 100px; -o-perspective: 100px; perspective: 100px; margin-top: 50px; position: absolute; }
/* line 337, ../sass/main.scss */
.twoD-simple.simple-transformation-15 { -webkit-transform: scale(2.5); -moz-transform: scale(2.5); -ms-transform: scale(2.5); -o-transform: scale(2.5); transform: scale(2.5); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; z-index: 2; }
/* line 344, ../sass/main.scss */
.twoD-simple.simple-transformation-16 { -webkit-transform: rotate(45deg) scale(0.5); -moz-transform: rotate(45deg) scale(0.5); -ms-transform: rotate(45deg) scale(0.5); -o-transform: rotate(45deg) scale(0.5); transform: rotate(45deg) scale(0.5); background-color: yellow; z-index: 4; }
/* line 350, ../sass/main.scss */
.twoD-simple.simple-transformation-17 { -webkit-transform: scale(0.25) translateY(-300px); -moz-transform: scale(0.25) translateY(-300px); -ms-transform: scale(0.25) translateY(-300px); -o-transform: scale(0.25) translateY(-300px); transform: scale(0.25) translateY(-300px); -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; background-color: purple; z-index: 5; }
/* line 357, ../sass/main.scss */
.twoD-simple.simple-transformation-18 { -webkit-transform: scale(0.25) translateY(300px); -moz-transform: scale(0.25) translateY(300px); -ms-transform: scale(0.25) translateY(300px); -o-transform: scale(0.25) translateY(300px); transform: scale(0.25) translateY(300px); -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; background-color: purple; z-index: 6; }
/* line 364, ../sass/main.scss */
.twoD-simple.simple-transformation-19 { -webkit-transform: scale(2.3); -moz-transform: scale(2.3); -ms-transform: scale(2.3); -o-transform: scale(2.3); transform: scale(2.3); -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; -webkit-box-shadow: 1px -1px 1px gray; -moz-box-shadow: 1px -1px 1px gray; box-shadow: 1px -1px 1px gray; background-color: #fff; z-index: 3; }
/* line 373, ../sass/main.scss */
.twoD-simple.simple-transformation-20 { -webkit-transform: translate(-15%, 25%); -moz-transform: translate(-15%, 25%); -ms-transform: translate(-15%, 25%); -o-transform: translate(-15%, 25%); transform: translate(-15%, 25%); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; width: 150px; height: 10px; background-color: yellow; z-index: 7; }
/* line 382, ../sass/main.scss */
.twoD-simple.simple-transformation-21 { -webkit-transform: translate(0%, 38%); -moz-transform: translate(0%, 38%); -ms-transform: translate(0%, 38%); -o-transform: translate(0%, 38%); transform: translate(0%, 38%); -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; width: 300px; height: 500px; background-color: black; z-index: 0; }
/* line 392, ../sass/main.scss */
.twoD-simple.simple-transformation-22 { -webkit-transform: scale(0.5) translate(0%, 65%); -moz-transform: scale(0.5) translate(0%, 65%); -ms-transform: scale(0.5) translate(0%, 65%); -o-transform: scale(0.5) translate(0%, 65%); transform: scale(0.5) translate(0%, 65%); -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; background-color: red; z-index: 1; }

/* line 404, ../sass/main.scss */
input[type=range] { margin-left: auto; margin-right: auto; width: 600px; display: block; margin-top: 100px; margin-bottom: 100px; }

/* line 413, ../sass/main.scss */
.threeD-cube { -webkit-perspective: 2000px; -moz-perspective: 2000px; -ms-perspective: 2000px; -o-perspective: 2000px; perspective: 2000px; color: #fff; font-size: 3em; line-height: 200px; margin-top: 150px; margin-bottom: 150px; }

/* line 425, ../sass/main.scss */
.cube { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform: rotate3d(1, 1, 0, 45deg); -moz-transform: rotate3d(1, 1, 0, 45deg); -ms-transform: rotate3d(1, 1, 0, 45deg); -o-transform: rotate3d(1, 1, 0, 45deg); transform: rotate3d(1, 1, 0, 45deg); margin-left: auto; margin-right: auto; display: block; width: 200px; height: 200px; }
/* line 433, ../sass/main.scss */
.cube .side { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; position: absolute; width: 200px; height: 200px; font-weight: bold; }
/* line 441, ../sass/main.scss */
.cube .side.cube-1 { background-color: green; -webkit-transform: rotateX(0deg) translateZ(100px); -moz-transform: rotateX(0deg) translateZ(100px); -ms-transform: rotateX(0deg) translateZ(100px); -o-transform: rotateX(0deg) translateZ(100px); transform: rotateX(0deg) translateZ(100px); }
/* line 445, ../sass/main.scss */
.cube .side.cube-2 { background: teal; -webkit-transform: rotateX(180deg) translateZ(100px); -moz-transform: rotateX(180deg) translateZ(100px); -ms-transform: rotateX(180deg) translateZ(100px); -o-transform: rotateX(180deg) translateZ(100px); transform: rotateX(180deg) translateZ(100px); }
/* line 449, ../sass/main.scss */
.cube .side.cube-3 { background: yellow; -webkit-transform: rotateY(90deg) translateZ(100px); -moz-transform: rotateY(90deg) translateZ(100px); -ms-transform: rotateY(90deg) translateZ(100px); -o-transform: rotateY(90deg) translateZ(100px); transform: rotateY(90deg) translateZ(100px); }
/* line 453, ../sass/main.scss */
.cube .side.cube-4 { background: black; -webkit-transform: rotateY(-90deg) translateZ(100px); -moz-transform: rotateY(-90deg) translateZ(100px); -ms-transform: rotateY(-90deg) translateZ(100px); -o-transform: rotateY(-90deg) translateZ(100px); transform: rotateY(-90deg) translateZ(100px); }
/* line 457, ../sass/main.scss */
.cube .side.cube-5 { background: blue; -webkit-transform: rotateX(90deg) translateZ(100px); -moz-transform: rotateX(90deg) translateZ(100px); -ms-transform: rotateX(90deg) translateZ(100px); -o-transform: rotateX(90deg) translateZ(100px); transform: rotateX(90deg) translateZ(100px); }
/* line 461, ../sass/main.scss */
.cube .side.cube-6 { background: orange; -webkit-transform: rotateX(-90deg) translateZ(100px); -moz-transform: rotateX(-90deg) translateZ(100px); -ms-transform: rotateX(-90deg) translateZ(100px); -o-transform: rotateX(-90deg) translateZ(100px); transform: rotateX(-90deg) translateZ(100px); }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Transitions
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 472, ../sass/main.scss */
.box-transition { height: 150px; width: 150px; position: relative; display: block; border-style: solid; border-width: 1px; margin-left: 15px; margin-bottom: 90px; background-color: #f7941d; -webkit-border-radius: 75px; -moz-border-radius: 75px; -ms-border-radius: 75px; -o-border-radius: 75px; border-radius: 75px; -webkit-transition: width 2s, height 2s, background-color 1.2s linear, border-radius 1s ease-in; -moz-transition: width 2s, height 2s, background-color 1.2s linear, border-radius 1s ease-in; -o-transition: width 2s, height 2s, background-color 1.2s linear, border-radius 1s ease-in; transition: width 2s, height 2s, background-color 1.2s linear, border-radius 1s ease-in; -webkit-transform: 1.5s; -moz-transform: 1.5s; -ms-transform: 1.5s; -o-transform: 1.5s; transform: 1.5s; }
/* line 485, ../sass/main.scss */
.box-transition:hover { background-color: #8ec63f; width: 350px; height: 35px; -webkit-animation-name: weirdo; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: alternate; }

@-webkit-keyframes weirdo { /* line 498, ../sass/main.scss */
  0% { -webkit-transform: translateX(0) rotate(0); -moz-transform: translateX(0) rotate(0); -ms-transform: translateX(0) rotate(0); -o-transform: translateX(0) rotate(0); transform: translateX(0) rotate(0); }
  /* line 502, ../sass/main.scss */
  20% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; background-color: red; }
  /* line 507, ../sass/main.scss */
  40% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -webkit-transform: translateX(300px) rotate(8turn); -moz-transform: translateX(300px) rotate(8turn); -ms-transform: translateX(300px) rotate(8turn); -o-transform: translateX(300px) rotate(8turn); transform: translateX(300px) rotate(8turn); background-color: yellow; }
  /* line 513, ../sass/main.scss */
  70% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; -webkit-box-shadow: 5px 5px 5px gray; -moz-box-shadow: 5px 5px 5px gray; box-shadow: 5px 5px 5px gray; background-color: #f7941d; }
  /* line 519, ../sass/main.scss */
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; width: 100px; -webkit-border-radius: 200px; -moz-border-radius: 200px; -ms-border-radius: 200px; -o-border-radius: 200px; border-radius: 200px; -webkit-transform: translateX(850px) rotate(16turn); -moz-transform: translateX(850px) rotate(16turn); -ms-transform: translateX(850px) rotate(16turn); -o-transform: translateX(850px) rotate(16turn); transform: translateX(850px) rotate(16turn); background-color: black; } }

/* line 528, ../sass/main.scss */
.jupiter-transition { margin-top: 50px; margin-bottom: 50px; position: relative; }

/* line 534, ../sass/main.scss */
.jupiter { margin-left: 50px; }
/* line 536, ../sass/main.scss */
.jupiter:hover { -webkit-animation-name: ballroll; -webkit-animation-duration: 2s; -webkit-animation-timing-function: ease-in-out; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: alternate; }

@-webkit-keyframes ballroll { /* line 546, ../sass/main.scss */
  0% { -webkit-transform: translateX(0) rotate(0); -moz-transform: translateX(0) rotate(0); -ms-transform: translateX(0) rotate(0); -o-transform: translateX(0) rotate(0); transform: translateX(0) rotate(0); }
  /* line 550, ../sass/main.scss */
  50% { -webkit-transform: translateX(300px) rotate(3turn); -moz-transform: translateX(300px) rotate(3turn); -ms-transform: translateX(300px) rotate(3turn); -o-transform: translateX(300px) rotate(3turn); transform: translateX(300px) rotate(3turn); }
  /* line 554, ../sass/main.scss */
  100% { -webkit-transform: translateX(700px) rotate(2turn); -moz-transform: translateX(700px) rotate(2turn); -ms-transform: translateX(700px) rotate(2turn); -o-transform: translateX(700px) rotate(2turn); transform: translateX(700px) rotate(2turn); } }

/* line 559, ../sass/main.scss */
.pokeball { margin-left: auto; margin-right: auto; z-index: 1; width: 500px; }
/* line 563, ../sass/main.scss */
.pokeball:hover { background-image: url(../img/mew.png); z-index: 2; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Blog Specific
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 575, ../sass/main.scss */
.blog-anchors { text-decoration: none; font-size: 1.5em; color: black; }
/* line 579, ../sass/main.scss */
.blog-anchors:hover { color: #f7941d; }

/* line 584, ../sass/main.scss */
.recent-art { line-height: 0.5em; }

/* line 588, ../sass/main.scss */
.recent-anchors { font-size: 2em; line-height: 1.5em; text-decoration: none; color: blue; }
/* line 593, ../sass/main.scss */
.recent-anchors:hover { color: #f7941d; }

/* line 598, ../sass/main.scss */
.recent-articles-header { font-size: 3em; }

/* line 602, ../sass/main.scss */
.blog-recent { border: 1px solid black; padding: 0.5em 0.2em 0.2em 0.2em; display: inline-block; padding: 12px; }

/* line 610, ../sass/main.scss */
.advertisements { padding-top: 20px; }

/* line 615, ../sass/main.scss */
.complex-selectors p ~ p { text-indent: 30px; }

/* line 619, ../sass/main.scss */
.complex-selectors a[href^="https"]:after { content: url("http://p.yusukekamiyamane.com/icons/search/fugue/icons/lock.png"); }

/* line 623, ../sass/main.scss */
.complex-selectors a[href$=".pdf"]:after { content: url("http://www.environmentalstewardship.org/CMImages/ESAP/adobe_pdf_icon.gif"); }

/* line 627, ../sass/main.scss */
.responsive-spacing { margin-bottom: 20px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Arrows and Buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 635, ../sass/main.scss */
.arrow { background: #8ec63f; color: #fff; display: inline-block; height: 30px; line-height: 30px; padding: 0 12px; position: relative; text-decoration: none; margin-bottom: 20px; margin-left: 20px; }
/* line 646, ../sass/main.scss */
.arrow:hover { background: #f7941d; color: #fff; }

/* line 654, ../sass/main.scss */
.arrow:before, .arrow:after { content: ""; height: 0px; position: absolute; width: 0px; }

/* line 661, ../sass/main.scss */
.arrow:before { border-bottom: 15px solid #8ec63f; border-left: 15px solid transparent; border-top: 15px solid #8ec63f; left: -15px; }

/* line 668, ../sass/main.scss */
.arrow:after { border-bottom: 15px solid transparent; border-left: 15px solid #8ec63f; border-top: 15px solid transparent; right: -15px; }

/* line 675, ../sass/main.scss */
.arrow:hover:before { border-bottom: 15px solid #f7941d; border-top: 15px solid #f7941d; }

/* line 680, ../sass/main.scss */
.arrow:hover:after { border-left: 15px solid #f7941d; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Tooltips
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 689, ../sass/main.scss */
a.tooltip { outline: none; font-size: 1.2em; }
/* line 692, ../sass/main.scss */
a.tooltip:hover { text-decoration: none; }

/* line 697, ../sass/main.scss */
a.tooltip strong { line-height: 30px; }

/* line 701, ../sass/main.scss */
a.tooltip span { z-index: 10; display: none; padding: 14px 10px; margin-top: -30px; margin-left: 28px; width: 25%; line-height: 20px; font-size: 0.7em; }

/* line 712, ../sass/main.scss */
a.tooltip:hover span { display: inline; position: absolute; color: #111; border: 1px solid #DCA; background: #ffad07; }

/* line 720, ../sass/main.scss */
span.tooltip-text { font-size: 0.7em; }

/*CSS3 extras*/
/* line 726, ../sass/main.scss */
a.tooltip span { -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 5px 5px 8px #cccccc; -moz-box-shadow: 5px 5px 8px #cccccc; box-shadow: 5px 5px 8px #cccccc; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
jQuery Related Styling
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 735, ../sass/main.scss */
.accordian-title { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; text-shadow: 1px 1px gray; border: 1px solid black; padding: 10px; }

/* line 742, ../sass/main.scss */
.vanishing-box { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 1px 1px gray; -moz-box-shadow: 1px 1px gray; box-shadow: 1px 1px gray; height: 100px; width: 100px; background-color: #f7941d; display: inline-block; color: #fff; font-size: 3em; margin: 2px; padding: 10px; }
/* line 753, ../sass/main.scss */
.vanishing-box:hover { background-color: #8ec63f; }

/* line 758, ../sass/main.scss */
#bouncing-ball { -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; height: 200px; width: 200px; background-color: #8ec63f; position: relative; }

/* line 766, ../sass/main.scss */
.alerts-jquery { margin-left: auto; margin-right: auto; margin-top: 200px; width: 600px; }

/* line 772, ../sass/main.scss */
.alert { -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; text-shadow: 1px 1px 1px #cccccc; border: 2px solid #8ec63f; width: 600px; height: 100px; height: 50px; font-size: 2em; line-height: 50px; margin-bottom: 10px; color: #fff; background-color: #f7941d; }

/* line 787, ../sass/main.scss */
#alert { background-color: red; }

/* line 791, ../sass/main.scss */
.alert-x { width: 16px; height: 16px; margin-left: 20px; margin-top: 5px; border: 1px solid #fff; position: absolute; text-decoration: none; display: inline-block; background-image: url(../img/ui-icons_228ef1_256x240.png); background-position: -96px -128px; }

/* line 804, ../sass/main.scss */
.shifted-alert { margin-left: 40px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 813, ../sass/main.scss */
.copyright { font-size: 2em; color: #FFA500; font-weight: bold; }

/* line 820, ../sass/main.scss */
.links-credit { position: relative; font-weight: bold; font-size: 2.5em; }
/* line 825, ../sass/main.scss */
.links-credit li { margin: 40px 0px; list-style: none; display: inline-block; }
/* line 829, ../sass/main.scss */
.links-credit li a:hover { color: #f7941d; }

/* line 836, ../sass/main.scss */
.footer-background { color: #fff; background-color: black; }

/* line 841, ../sass/main.scss */
.footer { bottom: 0; left: 0; position: relative; }
/* line 845, ../sass/main.scss */
.footer a { text-shadow: 1px 2px 2px gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 3px 12px; text-decoration: none; color: #fff; line-height: 100%; text-decoration: none; font-weight: bold; }
/* line 855, ../sass/main.scss */
.footer a:hover { border-bottom: 5px solid white; }

/* line 861, ../sass/main.scss */
.footer-color { background-color: #00FFEE; }

/* line 865, ../sass/main.scss */
.footer-statement { line-height: 1.5em; font-size: 2em; font-style: italic; text-transform: uppercase; }

/* line 873, ../sass/main.scss */
.footer-twitter { line-height: 1.5em; font-size: 1.5em; padding-bottom: 50px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Helper classes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* line 884, ../sass/main.scss */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }

/* line 891, ../sass/main.scss */
.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* line 898, ../sass/main.scss */
.hidden { display: none !important; visibility: hidden; }

/* line 903, ../sass/main.scss */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* line 915, ../sass/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* line 924, ../sass/main.scss */
.invisible { visibility: hidden; }

/* line 929, ../sass/main.scss */
.clearfix:before, .clearfix:after { content: " "; display: table; }

/* line 934, ../sass/main.scss */
.clearfix:after { clear: both; }

/* line 938, ../sass/main.scss */
.clearfix { *zoom: 1; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Media Queries
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ********************************************************************************************************************* Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math */
@media all and (min-width: 1024px) { /* line 951, ../sass/main.scss */
  .grid-1000 { max-width: 1024px; }
  /* line 955, ../sass/main.scss */
  .grid-1000 .onerow { padding: 0; } }
/* ********************************************************************************************************************* Small devices */
@media all and (max-width: 960px) { /* line 968, ../sass/main.scss */
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 { float: none; }
  /* line 972, ../sass/main.scss */
  nav { text-align: center; line-height: 0px; }
  /* line 975, ../sass/main.scss */
  nav ul { padding: 10px; }
  /* line 980, ../sass/main.scss */
  .copyright { text-align: center; }
  /* line 984, ../sass/main.scss */
  .laozi { width: 70%; height: 70%; }
  /* line 989, ../sass/main.scss */
  #logo { width: 50%; display: block; margin-left: auto; margin-right: auto; }
  /* line 994, ../sass/main.scss */
  #logo img { width: 100%; }
  /* line 999, ../sass/main.scss */
  #footer-twitter-img { max-width: 100%; }
  /* line 1004, ../sass/main.scss */
  #menu { float: none; width: 100%; }
  /* line 1009, ../sass/main.scss */
  .col8, .col6 { width: 100%; }
  /* line 1013, ../sass/main.scss */
  .jupiter { margin-left: 15px; }
  @-webkit-keyframes ballroll { /* line 1018, ../sass/main.scss */
    0% { -webkit-transform: translateX(0) rotate(0); -moz-transform: translateX(0) rotate(0); -ms-transform: translateX(0) rotate(0); -o-transform: translateX(0) rotate(0); transform: translateX(0) rotate(0); }
    /* line 1022, ../sass/main.scss */
    50% { -webkit-transform: translateX(250px) rotate(3turn); -moz-transform: translateX(250px) rotate(3turn); -ms-transform: translateX(250px) rotate(3turn); -o-transform: translateX(250px) rotate(3turn); transform: translateX(250px) rotate(3turn); }
    /* line 1026, ../sass/main.scss */
    100% { -webkit-transform: translateX(450px) rotate(2turn); -moz-transform: translateX(450px) rotate(2turn); -ms-transform: translateX(450px) rotate(2turn); -o-transform: translateX(450px) rotate(2turn); transform: translateX(450px) rotate(2turn); } } }
@media all and (max-width: 700px) { @-webkit-keyframes ballroll { /* line 1036, ../sass/main.scss */
    0% { -webkit-transform: translateX(0) rotate(0); -moz-transform: translateX(0) rotate(0); -ms-transform: translateX(0) rotate(0); -o-transform: translateX(0) rotate(0); transform: translateX(0) rotate(0); }
    /* line 1040, ../sass/main.scss */
    50% { -webkit-transform: translateX(250px) rotate(3turn); -moz-transform: translateX(250px) rotate(3turn); -ms-transform: translateX(250px) rotate(3turn); -o-transform: translateX(250px) rotate(3turn); transform: translateX(250px) rotate(3turn); }
    /* line 1044, ../sass/main.scss */
    100% { -webkit-transform: translateX(400px) rotate(2turn); -moz-transform: translateX(400px) rotate(2turn); -ms-transform: translateX(400px) rotate(2turn); -o-transform: translateX(400px) rotate(2turn); transform: translateX(400px) rotate(2turn); } } }
@media all and (max-width: 550px) { /* line 1053, ../sass/main.scss */
  h1 { font-size: 3em; line-height: 1em; }
  /* line 1058, ../sass/main.scss */
  h2 { font-size: 2.5em; line-height: 1em; }
  /* line 1063, ../sass/main.scss */
  h3 { font-size: 2.2em; line-height: 1em; }
  /* line 1068, ../sass/main.scss */
  h4 { font-size: 1.8em; line-height: 1em; }
  /* line 1073, ../sass/main.scss */
  p { font-size: 1.5em; }
  /* line 1077, ../sass/main.scss */
  .col1, .col2, .col3, .col4, .col5, .col7, .col9, .col10, .col11 { width: 100%; }
  /* line 1081, ../sass/main.scss */
  .recent { display: none; }
  /* line 1085, ../sass/main.scss */
  ul.current, ul.hero, ul.blog-recent { text-align: center; }
  /* line 1089, ../sass/main.scss */
  .jupiter { margin-left: 10px; }
  @-webkit-keyframes weirdo { /* line 1094, ../sass/main.scss */
    0% { -webkit-transform: translateX(0) rotate(0); -moz-transform: translateX(0) rotate(0); -ms-transform: translateX(0) rotate(0); -o-transform: translateX(0) rotate(0); transform: translateX(0) rotate(0); }
    /* line 1098, ../sass/main.scss */
    20% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; background-color: red; }
    /* line 1103, ../sass/main.scss */
    40% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -webkit-transform: translateX(40%) rotate(8turn); -moz-transform: translateX(40%) rotate(8turn); -ms-transform: translateX(40%) rotate(8turn); -o-transform: translateX(40%) rotate(8turn); transform: translateX(40%) rotate(8turn); background-color: yellow; }
    /* line 1109, ../sass/main.scss */
    70% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; -webkit-box-shadow: 5px 5px 5px gray; -moz-box-shadow: 5px 5px 5px gray; box-shadow: 5px 5px 5px gray; background-color: #f7941d; }
    /* line 1115, ../sass/main.scss */
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; width: 100px; -webkit-border-radius: 200px; -moz-border-radius: 200px; -ms-border-radius: 200px; -o-border-radius: 200px; border-radius: 200px; -webkit-transform: translateX(95%) rotate(16turn); -moz-transform: translateX(95%) rotate(16turn); -ms-transform: translateX(95%) rotate(16turn); -o-transform: translateX(95%) rotate(16turn); transform: translateX(95%) rotate(16turn); background-color: black; } }
  @-webkit-keyframes ballroll { /* line 1125, ../sass/main.scss */
    0% { -webkit-transform: translateX(0%) rotate(0); -moz-transform: translateX(0%) rotate(0); -ms-transform: translateX(0%) rotate(0); -o-transform: translateX(0%) rotate(0); transform: translateX(0%) rotate(0); }
    /* line 1129, ../sass/main.scss */
    50% { -webkit-transform: translateX(40%) rotate(3turn); -moz-transform: translateX(40%) rotate(3turn); -ms-transform: translateX(40%) rotate(3turn); -o-transform: translateX(40%) rotate(3turn); transform: translateX(40%) rotate(3turn); }
    /* line 1133, ../sass/main.scss */
    100% { -webkit-transform: translateX(95%) rotate(2turn); -moz-transform: translateX(95%) rotate(2turn); -ms-transform: translateX(95%) rotate(2turn); -o-transform: translateX(95%) rotate(2turn); transform: translateX(95%) rotate(2turn); } }
  /* line 1138, ../sass/main.scss */
  .alert { font-size: 1em; margin-left: 10%; width: 60%; max-width: 100%; }
  /* line 1145, ../sass/main.scss */
  .links-credit { font-size: 1.6em; }
  /* line 1149, ../sass/main.scss */
  .copyright { font-size: 1.3em; }
  /* line 1153, ../sass/main.scss */
  .footer-statement { font-size: 1.3em; } }
