.box {
	border-radius: 15px;
	position: absolute;
	background: #8ec63f;
	height: 100px;
	width: 150px;
	padding: 50px 0px 0px;
	font-size: 1.5em;
	color: white;
	text-align: center;
	border: 3px solid #f7941d;
}

.box:hover{
	background-color: #ffa500;
}

.box-set {
	background: #e8eae9;
	position: relative;
}

.box-1 {
	top: -30px;
	left: 20px;
}

.box-2 {
	top: 100px;
	right: 650px;
	z-index: 2;
}

.box-3 {
	top: 90px;
	bottom: 20px;
	right: 20px;
}

.box-4 {
	top: 150px;
	right: 620px;
	z-index: 3;
}

.box-5 {
	top: 300px;
	right: 120px;
}

.box-6 {
	top: 300px;
	left: 20px;
}
