.box {
  border-radius: 15px;
  position: absolute;
  background: #8ec63f;
  height: 5em;
  width: 5em;
  line-height: 2.5em;
  font-size: 1.5em;
  color: white;
  text-align: center;
  border: 3px solid #f7941d; }

.box:hover {
  background-color: #ffa500; }

.box-set {
  background: #e8eae9;
  position: relative; }

.box-1 {
  top: -3em;
  left: 2em; }

.box-2 {
  top: 10em;
  right: 65em;
  z-index: 2; }

.box-3 {
  top: 9em;
  bottom: 2em;
  right: 2em; }

.box-4 {
  top: 15em;
  right: 12em;
  z-index: 3; }

.box-5 {
  top: 20em;
  right: 12em; }

.box-6 {
  top: 20em;
  left: 2em; }
