/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Import
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@import "normalize";
@import "grid";
@import "button";
@import "positions";
@import "tabs";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Variables
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


$orange: #f7941d;

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Nav
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav {
	position: relative;
	font-size: 2.5em;
	font-weight: bold;
  text-align: right;
}

nav ul {
	margin: 10px 0;
	padding: 40px 40px 0px 0px;
}

nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: block;
	display: inline-block;
}

nav a {
  @extend .faces-pol-title;
  @extend .current;
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
	color: $orange;
}

.current {
  border-radius: 5px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body {
  background: #eee;
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 62.5%;
  line-height: 1.2;
}

h1 {
  font-weight: bold;
  font-size: 4.3em;
  color: $orange;

}

h2 {
  font-weight: bold;
  font-size: 3.5em;
  color: black;

}

h3 {
  @extend h2;
  font-size: 2.5em;
}


h4 {
  @extend h2;
  font-size: 2.0em;
}

p {
  font-size: 1.6em;
  line-height: 1.5;
}

a {
  font-size: 1.3em;
}

figure {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero {
  @extend .faces-pol-title;
  @extend .current;
  position: relative;
  padding: 0.4em 0.2em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.contact-paragraph, .titles {
  @extend .faces-pol-title;
}

.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.centerimage {
  padding: 0.5em 0.3em;
  float: right;
}

.border {
  background: #ccc; 
  border: 0.2em solid #f0f0f0;
  color: #333;
}

aside {
  @extend .faces-pol-title;
  background-color: #D0C6B1;
  color: black;
  position: relative;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #D0C6B1))
}

.end-spacing {
  padding: 8em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Portoflio Specific 2D and 3D
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

img.faces-pol {
  @extend .logo;
}

.faces-pol-title {
  text-align: center;
}

.faces-pol-text, .faces-pol-center, .inkprinted-text, .experimental-2d, .inkprinted {
  @extend .faces-pol-title;
}

.eleganster {
  @extend .faces-pol-title;
  border-right: 2px solid #E6E8FA;
  padding: 10px 15px;
}

.inkprinted-text {
  @extend .faces-pol-title;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Blog Specific
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.blog-anchors {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.blog-anchors:hover {
  color: $orange;
}

.recent-art {
  line-height: 0.5;
}

.recent-anchors {
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  color: blue;
}

.recent-anchors:hover {
  color: $orange;
}

.recent-articles-header {
  font-size: 3em;
}

.blog-recent {
  @extend .current;
  border: 1px solid black;
  padding: 0.5em 0.2em 0.2em 0.2em;
  display: inline-block;
  padding: 12px;
}

.advertisements {
  @extend .faces-pol-title;
  padding-top: 20px;
}

.complex-selectors p ~ p {
  text-indent: 30px;
  }

.complex-selectors a[href^="https"]:after {
  content: url('http://p.yusukekamiyamane.com/icons/search/fugue/icons/lock.png');
}

.complex-selectors a[href$=".pdf"]:after {
  content: url('http://www.environmentalstewardship.org/CMImages/ESAP/adobe_pdf_icon.gif');
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Arrows and Buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.arrow {
  background: #8ec63f;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
}

.arrow:before,
.arrow:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.arrow:before {
  border-bottom: 15px solid #8ec63f;
  border-left: 15px solid transparent;
  border-top: 15px solid #8ec63f;
  left: -15px;
}

.arrow:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #8ec63f;
  border-top: 15px solid transparent;
  right: -15px;
}

.arrow:hover {
  background: $orange;
  color: #fff;
}

.arrow:hover:before {
  border-bottom: 15px solid $orange;
  border-top: 15px solid $orange;
}

.arrow:hover:after {
  border-left: 15px solid #f7941d;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++
Tooltips
+++++++++++++++++++++++++++++++++++++++++++++++++*/

a.tooltip {
  outline: none;
  font-size: 1.2em;
}

a.tooltip strong {
  line-height: 30px;
}

a.tooltip:hover {
  text-decoration: none;
} 

a.tooltip span {
  z-index: 10;
  display: none; 
  padding: 14px 10px;
  margin-top: -30px; 
  margin-left: 28px;
  width: 25%; 
  line-height: 20px;
  font-size: 0.7em;
}

a.tooltip:hover span{
  display: inline; 
  position: absolute; 
  color: #111;
  border: 1px solid #DCA; 
  background: #ffad07;
}

span.tooltip-text {
  font-size: 0.7em;
}
    
/*CSS3 extras*/
a.tooltip span
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  -moz-box-shadow: 5px 5px 8px #CCC;
  -webkit-box-shadow: 5px 5px 8px #CCC;
  box-shadow: 5px 5px 8px #CCC;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.copyright {
  @extend .faces-pol-title;
  font-size: 2em;
  color: #FFA500;
  font-weight: bold;
}

.links-credit {
  @extend .faces-pol-title;
	position: relative;
  font-weight: bold;
  font-size: 2.5em;
}

.links-credit li {
	margin: 0 0.05em 0.1em 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.links-credit a:hover {
	color: $orange;
}

.footer {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  background: #fff;
  border-top: solid 1px gray;
  margin: 0px -10px 0px;

}

.footer a {
  @extend .faces-pol-title;
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
  text-decoration: none;
  font-weight: bold;
}

.footer-statement {
  @extend .faces-pol-title;
  font-size: 2em;
  font-style: italic;
}

.footer-twitter {
  @extend .faces-pol-title;
  font-size: 1.5em;
}

.footer-quote {
  @extend .faces-pol-title;
  font-size: 1em;
  padding: 12px 0px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Helper classes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Media Queries
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  .grid-1000 {
    max-width: 1000px;
  }

  .grid-1000 .onerow {
    padding: 0;
  }

}



/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 960px) {

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
  }

  img {
    width: 20%;
    height: 20%
  }

  nav {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  .laozi {
    width: 70%;
    height: 70%;
  }

  img.logo {
    width: 99%;
  }

  #logo  {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {
    float: none;
    width: 99%;
  }

  footer ul {
    text-align: center;
    padding-left: 0;
  }


}

@media all and (max-width: 550px) {

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  width: 99%;
  }

  .logo {
    width: 100%;
    max-width: 100%;
  }

  img.logo {
    max-width: 100%;
  }

  .recent {
    display: none;
  }
}



