/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Import
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@import "compass";
@import "screen";
@import "normalize";
@import "grid";
@import "button";
@import "positions";
@import "tabs";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Variables & General Mixins
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

$green: #8ec63f;
$orange: #f7941d;

@mixin auto-margin {
  margin-left: auto;
  margin-right: auto;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Nav
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav {
	position: relative;
	font-size: 2.5em;
	font-weight: bold;
  text-align: right;
}

nav ul {
	margin: 10px 0;
	padding: 70px 40px 0px 20px;
}

nav li {
	margin: 0px 5px 10px 0px;
	padding: 0px;
	list-style: block;
	display: inline-block;
}

nav a {
  @extend .faces-pol-title;
  @extend .current;
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
  font-weight: bold;
    &:hover {
      color: $orange;
    }
}

.current {
  @include border-radius(5px);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body {
  background: #eee;
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 62.5%;
  line-height: 1.2em;
}

h1 {
  font-weight: bold;
  font-size: 4.3em;
  color: $orange;
  line-height: 1.2em;
}

h2 {
  font-weight: bold;
  font-size: 3.5em;
  color: black;
  line-height: 1.2em;
}

h3 {
  @extend h2;
  font-size: 2.5em;
  line-height: 1.2em;
}


h4 {
  @extend h2;
  font-size: 2.0em;
  line-height: 1.2em;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

a {
  font-size: 1.3em;
}

figure {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0px;
  overflow: hidden;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero {
  @extend .faces-pol-title;
  @extend .current;
  @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
  position: relative;
  padding: 0.4em 0.2em;
  text-decoration: none;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.contact-paragraph, .titles, .center {
  @extend .faces-pol-title;
}

.logo {
  @include auto-margin;
  display: inline-block;
}

.centerimage {
  padding: 0.5em 0.3em;
  float: right;
}

.border {
  background: #ccc; 
  border: 0.2em solid #f0f0f0;
  color: #333;
}

aside {
  @extend .faces-pol-title;
  @include border-radius(10px);
  @include text-shadow(rgba(0, 0, 0, 0.25) 0 1px 0);
  background-color: #D0C6B1;
  color: black;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #D0C6B1))
}

.end-spacing {
  padding: 10em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Portoflio Specific 2D and 3D
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

img.faces-pol {
  @extend .logo;
}

.faces-pol-title {
  text-align: center;
}

.faces-pol-text, .faces-pol-center, .inkprinted-text, .experimental-2d, .inkprinted {
  @extend .faces-pol-title;
}

.eleganster {
  @extend .faces-pol-title;
  border-right: 2px solid #E6E8FA;
  padding: 10px 15px;
}

.inkprinted-text {
  @extend .faces-pol-title;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Processing Related 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
// iframe related matters
.processing-div {
  height: 400px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Transformations
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@mixin transformation-parameters {
  background-color: red;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.simple-cube {
  @include auto-margin;
  height: 230px;
  position: relative;
  width: 400px;
}

.twoD-box {
  @include perspective(10px);
  @include transformation-parameters;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  position: absolute;
    &.simple-transformations-1 {
      background-color: blue;
      @include transform(rotate(-45deg) skew(15deg, 15deg));

  }
    &.simple-transformations-2 {
      background-color: green;
      @include transform(rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%));
  }
    &.simple-transformations-3 {
      background-color: orange;
      @include transform(rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%));
  }
}

.crazy-twoD {
  @include auto-margin;
  height: 500px;
  position: relative;
  width: 400px;
}

.twoD-crazy {
  @include transformation-parameters;
  margin-top: 250px;
  margin-left: 150px;
  position: absolute;
    &.simple-transformations-4 {
    background-color: teal;
    @include transform(rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%));
    z-index: 5;
    }

    &.simple-transformations-5 {
    @include transform(rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%));
    z-index: 3;
    }

    &.simple-transformations-6 {
    @include transform(rotate(195deg) skew(15deg, 15deg) translate(-50%, 100%));
    background-color: purple;
    height: 50px;
    z-index: 4;
    }

    &.simple-transformations-7 {
    @include transform(rotate(345deg) skew(-15deg, -15deg) translateX(-50px));
    background-color: black;
    z-index: 1;
    }

}

input[type=range] {
  @include auto-margin;
  width: 600px;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}


.threeD-cube {
  @include perspective(2000px);
  @extend .faces-pol-title;
  @include auto-margin;
  width: 900px;
  color: white;
  font-size: 3em;
  line-height: 200px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 150px;
}

.cube {
  @include transform-style(preserve-3d);
  @include transform(rotate3d(1, 1, 0, 45deg));
  width: 100px;
  height: 100px;

      .side {
        @include opacity(0.6);
        position: absolute;
        width: 200px;
        height: 200px;
        font-weight: bold;

    
          &.cube-1 {
            background-color: green;
            @include transform(rotateX(0deg) translateZ(100px)); 
          }
          &.cube-2 { 
            background: teal;
            @include transform(rotateX(180deg) translateZ(100px)); 
          }
          &.cube-3 { 
            background: yellow; 
            @include transform(rotateY(90deg) translateZ(100px));
          }
          &.cube-4 {
            background: black; 
            @include transform(rotateY(-90deg) translateZ(100px));
          }
          &.cube-5 {
            background: blue;
            @include transform(rotateX(90deg) translateZ(100px));
          }
          &.cube-6 { 
            background: orange; 
            @include transform(rotateX(-90deg) translateZ(100px)); 
          }
        }
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Blog Specific
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.blog-anchors {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
    &:hover {
      color: $orange;
    }
}

.recent-art {
  line-height: 0.5em;
}

.recent-anchors {
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  color: blue;
    &:hover {
    color: $orange;
    }
}

.recent-articles-header {
  font-size: 3em;
}

.blog-recent {
  @extend .current;
  border: 1px solid black;
  padding: 0.5em 0.2em 0.2em 0.2em;
  display: inline-block;
  padding: 12px;
}

.advertisements {
  @extend .faces-pol-title;
  padding-top: 20px;
}

.complex-selectors p ~ p {
  text-indent: 30px;
  }

.complex-selectors a[href^="https"]:after {
  content: url('http://p.yusukekamiyamane.com/icons/search/fugue/icons/lock.png');
}

.complex-selectors a[href$=".pdf"]:after {
  content: url('http://www.environmentalstewardship.org/CMImages/ESAP/adobe_pdf_icon.gif');
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Arrows and Buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.arrow {
  background: $green;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
    &:hover {
      background: $orange;
      color: #fff;

    }
}

.arrow:before,
.arrow:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.arrow:before {
  border-bottom: 15px solid $green;
  border-left: 15px solid transparent;
  border-top: 15px solid $green;
  left: -15px;
}

.arrow:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid $green;
  border-top: 15px solid transparent;
  right: -15px;
}

.arrow:hover:before {
  border-bottom: 15px solid $orange;
  border-top: 15px solid $orange;
}

.arrow:hover:after {
  border-left: 15px solid $orange;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Tooltips
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

a.tooltip {
  outline: none;
  font-size: 1.2em;
  &:hover {
    text-decoration: none;
  }
}

a.tooltip strong {
  line-height: 30px;
}

a.tooltip span {
  z-index: 10;
  display: none; 
  padding: 14px 10px;
  margin-top: -30px; 
  margin-left: 28px;
  width: 25%; 
  line-height: 20px;
  font-size: 0.7em;
}

a.tooltip:hover span{
  display: inline; 
  position: absolute; 
  color: #111;
  border: 1px solid #DCA; 
  background: #ffad07;
}

span.tooltip-text {
  font-size: 0.7em;
}
    
/*CSS3 extras*/
a.tooltip span
{
  @include border-radius(6px);
  @include box-shadow(5px 5px 8px #CCC);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
jQuery Related Styling
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.accordian-title {
  @include border-radius(10px);
  @include text-shadow(1px 1px gray);
  border: 1px solid black;
  padding: 10px;
}

.vanishing-box {
  @include border-radius(5px);
  @include box-shadow(1px 1px gray);
  height: 100px;
  width: 100px;
  background-color: $orange;
  display: inline-block;
  color: white;
  font-size: 3em;
  margin: 2px;
  padding: 10px;
    &:hover {
      background-color: $green;
    }
}

#bouncing-ball {
  @include border-radius(100px);
  height: 200px;
  width: 200px;
  background-color: $green;
  position: relative;
}

.alerts-jquery {
  @include auto-margin;
  margin-top: 200px;
  width: 600px;
}

.alert {
  @extend .faces-pol-title;
  @include border-radius(50px);
  @include text-shadow(1px 1px 1px #ccc);
  border: 2px solid $green;
  width: 600px;
  height: 50px;
  font-size: 2em;
  line-height: 50px;

  margin-bottom: 10px;
  color: white;
  background-color: $orange;
}

#alert {
  background-color: red;
}

.alert-x {
  width: 16px;
  height: 16px;
  position: absolute;
  text-decoration: none;
  display: inline-block;
  background-image: url(img/ui-icons_228ef1_256x240.png);
  background-position: -96px -128px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.copyright {
  @extend .faces-pol-title;
  font-size: 2em;
  color: #FFA500;
  font-weight: bold;
}

.links-credit {
  @extend .faces-pol-title;
	position: relative;
  font-weight: bold;
  font-size: 2.5em;
}

.links-credit li {
	margin: 0 0.05em 0.1em 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.links-credit a:hover {
	color: $orange;
}

.footer {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  background: #fff;
  border-top: solid 1px gray;
  margin: 0px -10px 0px;

}

.footer a {
  @extend .faces-pol-title;
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
  text-decoration: none;
  font-weight: bold;
}

.footer-statement {
  @extend .faces-pol-title;
  font-size: 2em;
  font-style: italic;
  line-height: 1em;
}

.footer-twitter {
  @extend .faces-pol-title;
  font-size: 1.5em;
  line-height: 1em;
}

.footer-quote {
  @extend .faces-pol-title;
  font-size: 1em;
  padding: 12px 0px;
  line-height: 1em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Helper classes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Media Queries
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  .grid-1000 {
    max-width: 1000px;
  }

  .grid-1000 .onerow {
    padding: 0;
  }

}



/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 960px) {

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
  }

  nav {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  .laozi {
    width: 70%;
    height: 70%;
  }

  #logo  {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
      img {
        width: 99%;
  }

  }

  #footer-twitter-img  {
    max-width: 100%;
  }

  #menu {
    float: none;
    width: 99%;
  }

  footer ul {
    text-align: center;
    padding-left: 0;
  }

  .col8, .col6 {
    width: 100%;
  }

  // .twoD-box, .twoD-crazy {
  //   margin-left: 50px;
  // }

}

@media all and (max-width: 550px) {

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  width: 99%;
  }

  .recent {
    display: none;
  }

  ul.current {
    text-align: center;
  }
}



